body {
    background-color: rgb(12, 12, 12);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2vw;
    
}
main {
    max-width: 30vw;
}
img {
    border-radius: 10px;
}

a {
    color: aliceblue;
    font-weight: 800;
}
h1{
    font-size: 3rem;
    font-weight: 800;
}

.modium {
    font-size: 10rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}