body {
    background-color: rgb(12, 12, 12);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 30vw;
    margin-left: 2vw;

}
img {
    border-radius: 10px;
}

a {
    color: aliceblue;
    font-weight: 800;
}
h1{
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}